@import url('https://fonts.googleapis.com/css2?family=Handlee,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');

/*-----------Header--------*/

header {
    
    margin: 0px;
    padding: 0;
}

/*-------Navbar--------*/

.Navbar {
   width: 100%;
   height: 100%;
   
   /*CSS Smooth Scroll*/
}

.nav-link:hover {
    color: #000 !important;
}

/*-------home-----*/

.landing-text {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.box {
    background-image: url("../image/tanzania.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    display: table;
}

.landing-text h1 {
    font-size: 900%;
    font-family: 'Permanent Marker', cursive;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

/*------About-------*/

.about-heading {
    font-weight: 600;
    font-size: 400%;
    font-family: 'Acme', sans-serif;
}