@import url('https://fonts.googleapis.com/css2?family=Handlee,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');

/*-----------Header--------*/

header {
    
    margin: 0px;
    padding: 0;
}

/*-------Navbar--------*/

.Navbar {
   width: 100%;
   height: 100%;
   
   /*CSS Smooth Scroll*/
}

.navbar-nav li {
    padding-right: 2px;
    margin-right: 20px;
}

.nav-link:hover {
    color: #000 !important;
}

/*-------home-----*/

.landing-text {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.box {
    background-image: url("../images/tanzania.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    display: table;
}

.landing-text h1 {
    font-size: 900%;
    font-family: 'Permanent Marker', cursive;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

/*------About Section-------*/

.heading-section h2{
    text-transform: capitalize;
    position: center;
    font-weight: bold;
}

.fonticon {
    font-size: 60px;
    padding-bottom: 2px;
}

.img-wrap .effect{
    position: relative;
    margin-bottom: 0;
    display: block;
}
.img-wrap .effect:after{
    z-index:-1;
    content:"";
    position: absolute;
    top:10px;
    right:10px;
    bottom:10px;
    left:10px;
    background: #011525;
    transition: .3s all ease-in-out;
}
.img-wrap:hover .effect:after{
    right:-10px;
    bottom:-10px;
    position: absolute;
}

.btn-dark{
    color:#fff!important;
    margin-right:5px;
    margin-left:5px;
    animation:skew 3s infinite;
    animation-direction: normal;
    transform: skew(20deg);
    animation-direction: alternate;
    padding:5px 17px;
}
@keyframes skew{
    0%{
        transform: skewX(20deg);
    }
    100%{
        transform: skewX(-20deg);
    }
}

/*-------Attractions Section ---------*/

.heading-section h1 {
    margin-top: 100;
    
}

.serengeti-info {
  height: 400px;
  background-image: url("../images/serengeti.jpg");
  margin-top: 90px;
  margin-left: 0px;
  margin-right: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-style: solid;
  border-color: #ffffff
}

.zanzibar-info {
  height: of 400px;
  background-image: url("../images/serengeti.jpg");
  margin-top: 90px;
  margin-left: 0px;
  margin-right: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-style: solid;
  border-color: #ffffff
}

.kilimanjaro-info {
  height: 400px;
  background-image: url("../images/serengeti.jpg");
  margin-top: 90px;
  margin-left: 0px;
  margin-right: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-style: solid;
  border-color: #ffffff
}

.todolist {
    color: #353839;
    background-color: #ffffff;
}

.nametag {
    color: #ffffff;
    font-size: 20px;
}

.nametag:hover {
    color: #a7752c; 
}

/*---------- Map Section ---------*/

div#map {
    min-height: 360px;
    min-width: 360px;
    height: 700px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*----------contact----------*/
.contact {
    text-align: center;
    margin-top: 100%;
}
.contact-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 0px;
}

.contact-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 30px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    padding-bottom: 33px;
}

.bg-color-contact {
    background-color: #ddc9ae;
}

/*----------footer----------*/

footer {
    background-color: #381e01;
    color: #ffffff;
    margin-top: 20px;
}

.footer-social {
    border-top: 1px solid #050301;
    padding:18px 0;
}

.social-networks {
    text-align: center;
}
  
.social-networks li {
    display: inline;
}
  
.social-networks i {
    font-size: 170%;
    padding: 0.5%;
    color: #000000;
}

.social-networks i:hover {
    color: #ebbc80;
    transition: 0.3s;
}

.footer-social p {
    color: #ebbc80;
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
}